<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ex2-1-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>712E81111E25EA0B00FEE672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712E812A1E25EA0B00FEE672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>712E81351E25EA0B00FEE672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
